body{
	font-family: 'Poppins', sans-serif;
}
*{
	padding: 0;
	margin: 0;
	
}
li{
	list-style: none;
	display: flex;
}
a{
	text-decoration: none;
}
header{
	background: #F6F6F6;
	padding: 22px 0 22px 0;
}
.header-container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.header-container a{
	color: #000;
	font-size: 16px;
	margin-right: 63px;
	padding: 27px 6px;
}
.header-container a:hover{
	background: #FFEB00;
	transition: all 1s;
}
#menu-checkbox{
	display: none;
}
ul{
	display: flex;
}
nav{
	margin-top: 20px;
}
.top-slide{
	background: url(../images/slider_bg.jpg) repeat-x;
	padding-top: 125px;
	padding-bottom: 245px;
}
.top-slide h2{
	background: #FFEB00;
	display: inline;
	font-size: 70px;
	padding: 0 13px 0 13px;
}
.top-slide :nth-child(2){
	margin-bottom: 13px;
}
.top-slide p{
	background: #3F3F44;
	color: #CECECF;
	display: inline;
	padding: 0 3px;
	font-size: 24px;
}
.top-container{
	width: 85%;
	margin: 0 auto;
}
.specialize{
	background: #F6F6F6;
	padding-top: 90px;
}
.specialize-container{
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.specialize-container h3{
	font-size: 35px;
}
.specialize-container p{
	margin-top: 20px;

	font-size: 24px;
}
.first-p{
	font-size: 20px;
	color: #fff;	
}
.bottom-card{
	background: #3F3F44;
	color: #fff;
	position: relative;
	top: -30px;
	display: block;
	width: 250px;
}
.topcard-wrapper{
	background: #FFEB00;
	width: 250px;
	height: 165px;
	padding: 40px 0 10px 0;
	margin: 0 auto;
	display: block;
}
.cardname .cardname2{
	margin-top: 26px;
}
.cardname .cardname3{
	margin-top: 3px;
}
.topcard{
	margin-top: 0;
}
.specialize-cards{
	display: flex;
	justify-content: space-between;
	margin-top: 65px;
	padding-bottom: 105px;
}
.portfolio{
	text-align: center;
	background: #F6F6F6;
}
.portfolio-wrapper{
	width: 90%;
	margin: 0 auto;
}

.portfolio h4{
	background: #403F46;
	display: inline-block;
	color: #FFEB00;
	padding: 0 30px 0 30px;
	font-size: 18px;
	margin-bottom: 34px;
}
.portfolio p{
	color: #424146;
	font-size: 16px;
}
.toggles button{
	border: none;
	color: #424146;
	cursor: pointer;
	font-size: 16px;
	margin: 20px 5px;
	background: #F6F6F6;
}
.toggles button:hover{
	opacity: .7;
	transition: all 1s;
}
.toggles button:after{
	content: ' /';
}
.toggles button:last-child:after{
	content: '';
}
.posts{
	width: 90%;
	display: grid;
	grid-template-columns: auto auto auto auto;
	margin: 0 auto;
	padding-bottom: 30px; 
}
.posts img{
	cursor: pointer;
}
.posts img:hover{
	opacity: .7;
}
.clients{
	background: #f6f6f6;
	text-align: center;
}
.clients-wrapper{
	width: 90%;
	margin: 0 auto;
}
.clients h4{
	background: #403F46;
	display: inline-block;
	color: #FFEB00;
	padding: 0 30px 0 30px;
	font-size: 18px;
	margin-bottom: 34px;
}
.clients p{
	color: #424146;
	font-size: 16px;
	margin-bottom: 43px;
}
.owl-carousel{
	cursor: e-resize;
}
footer{
	background: #3F3F44;
	padding: 30px 0;
	color: #fff;
}
.footer-wrapper{
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 40% 30% 20%;
	grid-column-gap: 3%;
}
.about-us{

}
.aboutus-wrapper h4{
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 20px; 
}
.learn-more{
	background: #000;
	display: inline-block;
	padding: 5px 17px;
	font-size: 15px;
	font-weight: normal;
	border-bottom: 2px solid #F7E403;
	margin-bottom: 35px;
	margin-top: 30px;
	color: #fff;
}
.learn-more:hover{
	opacity: .7;
	transition: all .3s;
}
.aboutus-wrapper p{
	padding-bottom: 25px;
}
.images{
	margin-top:10px;
}
.images img{
	cursor: pointer;
}
.images img:hover{
	opacity: .7;
	transition: all 1s;
}
.tweets p{
	margin-top: 20px;
}
span{
	color: #F7E403;
}
.tweets .social-header{
	padding-top: 20px;
	padding-bottom: 10px;
}
.social-icons img{
	cursor: pointer;
	margin: -1px;
}
.days-ago{
	color: #F7E403;
	font-size: 9px;
}
.write{
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid #f8e403;
	background: #3F3F44;
	color: #fff;
	font-size: 16px;
	margin-top: 20px;
}
.second-footer{
	background: #000;
	text-align: center;
	display: flex;

}
.menu{
	width: 80%;
	margin: 0 auto;
	

}
.menu a{
	display: inline-block;
	margin: 25px 60px;
	color: #fff;
}
.menu a:hover{
	opacity: .7;
	border-bottom: 2px solid #fff;
}


@media screen and (max-width: 420px){
	.header-container{
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.main-menu{
		display: none;
	}
	.main-menu li{
		width: 100%;
		display: block;
		font-size: 12px;
	}
	.main-menu a{
		display: block;
		padding: 8px;
	}
	.toggle-button{
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
	}
	.toggle-button:after{
		content: attr(data-open);
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
		content: attr(data-close)
	}
	.header-container a{
		margin-right: 65px;
	}
	.main-menu{
		position: relative;
		top: 30px;
		right: 11px;
	}
}

@media screen and (max-width: 924px){
	.header-container{
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.main-menu{
		display: none;
	}
	.main-menu li{
		width: 100%;
		display: flex;
		font-size: 12px;
	}
	.main-menu a{
		display: flex;
		padding: 8px;
	}
	.toggle-button{
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
	}
	.toggle-button:after{
		content: attr(data-open);
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
		content: attr(data-close)
	}
	.header-container a{
		margin-right: 65px;
		margin-bottom: 20px;
	}
	.main-menu{
		position: relative;
		top: 30px;
		right: 11px;
	}	
}
@media screen and (max-width: 1369px){
	.specialize-cards{
		flex-direction: column;
	}
	.bottom-card{
		margin: 0 auto;
	}
}
@media screen and (max-width: 1500px){
	.posts{
	width: 95%;
	display: grid;
	grid-template-columns: auto auto auto;
	margin: 0 auto;
	padding-bottom: 30px; 
	}
}
@media screen and (max-width: 1170px){
	.posts{
	width: 95%;
	display: grid;
	grid-template-columns: auto auto;
	margin: 0 auto;
	padding-bottom: 30px; 
	}
}
@media screen and (max-width: 800px){
	.posts{
	width: 95%;
	display: grid;
	grid-template-columns: auto;
	margin: 0 auto;
	padding-bottom: 30px; 
	}
}
@media screen and (max-width: 520px){
	.posts{
	width: 95%;
	display: grid;
	grid-template-columns: auto;
	margin: 0 auto;
	padding-bottom: 30px; 
	}
	.posts img{ 
		width: 70%;
	}
}

@media screen and (max-width: 770px){
	.top-slide {
    background: url(../images/slider_bg.jpg) repeat-x;
    padding-top: 50px;
    padding-bottom: 150px;
	}
	.top-slide h2 {
    background: #FFEB00;
    display: inline;
    font-size: 50px;
    padding: 0 13px 0 13px;
	}
	.top-slide p {
    background: #3F3F44;
    color: #CECECF;
    display: inline;
    padding: 0 3px;
    font-size: 16px;
	}
}
@media screen and (max-width: 420px){
	.specialize-container h3 {
    font-size: 25px;
	}
	.specialize-container p {
    margin-top: 20px;
    font-size: 16px;
	}
}
@media screen and (max-width: 385px){
	.top-slide h2 {
    background: #FFEB00;
    display: inline;
    font-size: 30px;
    padding: 0 13px 0 13px;
	}
	.top-slide p {
    background: #3F3F44;
    color: #CECECF;
    display: inline;
    padding: 0 3px;
    font-size: 12px;
	}
}